/* Combo definitions for this keymap */

/********************************************************
 * Combo defintions from Sunaku's Keymap (v38).
 * 
 * - Only implemented the ones used in this keymap.
 * - Uses zmk-helpers to implement the behavior.
 * - Uses zmk-helpers glove80 standard positions.
 * - Added to the base layout (defined with LAYER_Base - if not defined, default to 0)
 *******************************************************/

//
// COMBO_FIRING_DECAY defines how much time you have left (milliseconds)
// after pressing the first key in a ZMK combo to finish the whole chord.
//
#ifndef COMBO_FIRING_DECAY
#define COMBO_FIRING_DECAY 50
#endif

// define the base layer for the combos if none defined
#ifndef LAYER_Base
#define LAYER_Base 0
#endif

// cursor-layer alt/cntrl tab switcher
// difference with Sunaku's -> only bind to base layer
#ifdef LAYER_Cursor
#ifdef _A_TAB
ZMK_COMBO(combo_alt_tab_switcher, &mod_tab_chord _A_TAB LAYER_Cursor, LH2 LH5, LAYER_Base, COMBO_FIRING_DECAY)
#endif
ZMK_COMBO(combo_ctrl_tab_switcher, &mod_tab_chord LCTRL LAYER_Cursor, LH2 LH1, LAYER_Base, COMBO_FIRING_DECAY)
#endif

// sticky hyper/meh keys
// difference with Sunaku's -> only bind to base layer
// TODO: extract hyper and meh keys to zmk-keymap-utils???
ZMK_COMBO(combo_sticky_hyper_right, &sk _HYPER, RH2 RH5, LAYER_Base, COMBO_FIRING_DECAY)
ZMK_COMBO(combo_sticky_meh_right,   &sk _MEH,   RH2 RH1, LAYER_Base, COMBO_FIRING_DECAY)

/*************************************
 * END of combos from Sunaku's Keymap
 *************************************/